body{padding:0px; background-color: black; color: #fff; font-family:'calibri';}

button{border:1px solid #fff; background-color: #000000; color: #eee;}
button:active{background-color: #eee; color: black;}
button:hover{cursor:pointer;}

.btn-bg{font-size:30px;padding:2px 5px;}


.p-10{padding:10px;}
.border{border: 1px solid #eee;}
.fs-200{font-size: 200px;}
.fs-150{font-size: 150px;}
.fs-100{font-size: 100px;}
.fs-80{font-size: 80px;}

.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}

.lh-1{line-height: 1em;}

.m-0{margin: 0px;}


#section-team-a{
    display: block; position:
    absolute; width: 30%; left:0%;
    text-align: center;
}



#section-timer{
    display: block; position: 
    absolute; width: 40%; left: 30%;
    text-align: center;
}


#section-team-b{
    display: block; position: 
    absolute; width: 30%; left:70%;
    text-align: center;
}

#clock-timer{font-size: 200px;}

.team-name{font-size:50px;}
.adjust-controllers{margin-top: 10px;}


#d-footer{display:block;width:100%;position:absolute; left:0px; bottom:40px;}
#hotkey-indicator{padding:10px;}
#btn-hotkey-toggle{padding:10px;}


.btn-score{font-size:70px;border:none;color:#222;}

.btn-foul{font-size:60px;border:none;color:#222;}

.btn-period{font-size:50px;border:none;color:#222;}