body{padding:0px; background-color: black; color: #fff; font-family:'calibri';}

button{border:1px solid #fff; background-color: black; color: #eee;}
button:active{background-color: #eee; color: black;}

.p-10{padding:10px;}
.border{border: 1px solid #eee;}
.fs-150{font-size: 150px;}
.fs-100{font-size: 100px;}
.fs-80{font-size: 80px;}

.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}


#section-team-a{
    display: block; position:
    absolute; width: 30%; left:0%;
    text-align: center;
}



#section-timer{
    display: block; position: 
    absolute; width: 40%; left: 30%;
    text-align: center;
}

#period-count{font-size: 170px;}

#section-team-b{
    display: block; position: 
    absolute; width: 30%; left:70%;
    text-align: center;
}

#clock-timer{font-size: 200px;}

.team-name{font-size:50px;}
.adjust-controllers{margin-top: 10px;}